@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans
  }

  :root {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 180 90% 40%;
    --primary-foreground: 210 40% 98%;

    --secondary: 215 20% 20%;
    --secondary-foreground: 210 40% 98%;

    --muted: 215 20% 20%;
    --muted-foreground: 215 20% 65%;

    --accent: 180 90% 40%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;

    --border: 215 20% 20%;
    --input: 215 20% 20%;
    --ring: 180 90% 40%;

    --radius: 0.75rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
  }
  .theme {
    --animate-meteor: meteor 5s linear infinite;
  }
}
@layer utilities {
  .font-doto-rounded {
    font-family: "Doto", sans-serif;
    font-variation-settings:
      "wght" 900,
      "ROND" 90;
  }

  .font-doto-soft {
    font-family: "Doto", sans-serif;
    font-variation-settings:
      "wght" 700,
      "ROND" 50;
  }
}
.cursor-circle {
  position: fixed;
  width: 24px;
  height: 24px;
  border-radius: 9999px;
  background: rgba(255, 255, 255, 0.8);
  pointer-events: none;
  z-index: 9999;
}

.cursor-circle-hidden {
  opacity: 0;
}

.cursor-circle-thin {
  transform: scale(0.5);
  opacity: 0.5;
}

body{
  cursor: none;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* @theme inline {
  @keyframes meteor {
  0% {
    transform: rotate(var(--angle)) translateX(0);
    opacity: 1;
    }
  70% {
    opacity: 1;
    }
  100% {
    transform: rotate(var(--angle)) translateX(-500px);
    opacity: 0;
    }
  }
} */